@media (max-width: 1880px) {
    /* gallery  */
  .choices {
    width: 280px;
  }
  .choices__list--dropdown, .choices__list[aria-expanded] {
    width: 280px;
  }
    /* contacts */
  .contacts__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts__address {
    margin: 0 0 30px;
  }
  .contacts__form {
    margin: 0 0 30px;
  }
}

@media (max-width: 1760px) {
  .section-container {
    padding-left: 50px;
  }
  .header__top-container,
  .header__bottom-container {
    padding: 0 30px 0 90px;
  }
  .hero__content {
    padding-left: 80px;
  }
  /* gallery */
  .gallery__container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .gallery__content-left {
    margin-right: 130px;
  }
  /* catalog */
  .catalog__bottom-list {
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0 55px
  }
}
@media (max-width: 1760px) {
  /* events */
  .events__card-top {
    height: 200px;
  }
  .events__card-bottom {
    padding: 14px 31px 49px 34px;
    min-height: 418px;
  }
  .events__card-info {
    justify-content: flex-end;
    text-align: end;
    margin-bottom: 4px;
  }
}

@media (max-width: 1720px) {
  .header__logo {
    margin-left: 0;
  }
}

@media (max-width: 1564px) {
  .header__top-container {
    padding: 0 30px 0 100px;
  }
  .header__bottom-menu-item:not(:last-child) {
    margin-right: 68px;
  }
}

@media (max-width: 1420px){
  .section-container {
    padding-right: 20PX;
  }
  .header__login {
    margin-right: 40px;
  }
  .header__bottom-menu-item:not(:last-child) {
    margin-right: 55px;
  }
  /* gallery */
  .gallery {
    background-image: url('../img/gallery-bg-1024px.png');
  }
  .gallery__container {
    padding-bottom: 45px;
  }
  .gallery__content-left {
    margin-right: 50px;
  }
  .choices {
    margin-bottom: 115px;
  }
}

@media (max-width: 1420px) {
  .modal__item-painter {
    width: 594px;
  }
  .modal__img {
    width: calc(264 / 594 * 100%);
  }
  .modal__block {
    width: calc(330/ 594 * 100%);
    padding-top: 95px;
    padding-bottom: 90px;
  }
  .modal__title-name {
    max-width: 230px;
  }
  .modal__text {
    max-width: 230px;
  }
}

@media (max-width: 1420px) {
    /* catalog */
  .catalog__container {
    padding-bottom: 79px;
    }
  .catalog__content-left {
    width: 50%;
  }
  .catalog__content-img {
    height: 274px;
  }
  .catalog__content-img--position {
    object-position: 0 -100px;
  }  
  .catalog__img-block {
    max-height: 274px;
  }
  .catalog__content-title {
    margin-bottom: 0;
  }
}

@media (max-width: 1420px) {
  /* events */
  .events__container {
    padding-top: 0;
  }
  .events__card {
    min-height: 683px;
  }
  .events__card-top-1 {
    background-image: url('../img/event-1-1024px.jpg');
  }
  .events__card-top-2 {
    background-image: url('../img/event-2-1024px.jpg');
  }
  .events__card-top-3 {
    background-image: url('../img/event-3-1024px.jpg');
  }
  .events__card-top-4 {
    background-image: url('../img/event-4-1024px.jpg');
  }
}

@media (max-width: 1420px){
  .events__card-top-5 {
    background-image: url('../img/event-5-1024px.jpg');
  }
  .events__swiper-wrapper {
    margin-bottom: 17px;
  }
  .events__btn-next,
  .events__btn-prev {
    display: none;
  }
  .events__swiper-pagination {
    display: flex;
    justify-content: center;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 7.5px;
    border-radius: 50%;
  }
  .swiper-pagination-bullet {
     background-color: var(--color12);
  }
}

@media (max-width: 1420px) {
  .swiper-pagination-bullet-active {
    background-color: var(--color3);
  }
  /* projects */
  .projects__container {
    padding-top: 0;
  }
  .projects__swiper-slide {
    height: 128px;
  }
  .projects__swiper-container {
    margin: 0 53px;
  }
  .projects__swiper-img {
    width: 87%;
  }
}

@media (max-width: 1420px) {
  /* contacts */
  .contacts__container {
    padding-top: 43px;
    padding-bottom: 42px;
  }
  .contacts__form {
    max-width: 923px;
  }
  .contacts__btn {
    max-width: 343px;
  }
  .ymaps-2-1-79-controls__control {
    display: none;
  }
}

@media (max-width: 1420px) {
  /* footer */
  .footer__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__item {
    width: 60px;
    height: 60px;
  }
  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
  .footer__item-svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1300px) {
  :root {
    --header-top-height: 0;
  }
  .container {
    padding: 0 50px;
  }
  /*header*/
  .header__top {
    position: relative;
  }
  .header__top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .header__top--active::before {
    opacity: 1;
    z-index: 100;
  }
  .header__top-content {
    justify-content: space-between;
    padding: 29px 0 26px;
  }
}  

@media (max-width: 1300px) {
  .header__logo {
    margin: 0;
  }
  .header__burger {
    display: block;
    z-index: 101;
  }
  .header__nav {
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 100;
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 0 50px 50px;
    width: calc(1250 / 1000 * 100%);
    height: calc(100vh - var(--header-top-height));
    font-weight: var(--weight6);
    font-size: var(--size24);
    line-height: 64px;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    transform: translate(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .header__list {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-right: 0;
    margin-bottom: 170px;
  }
  .header__nav--active {
    visibility: visible;
    transform: none;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 1300px) {
  .header__login {
    margin: auto 0 0;
    z-index: 101;
    padding: 19px 88px;
    border-radius: 100px;
    border: 2px solid var(--color7);
    font-weight: 600;
  }
  .header__search-mobile-open {
    display: block;
  }
  .header__form-mobile-input {
    width: 100%;
  }
  .header__search-mobile-open svg {
    width: 27px;
    height: 27px;
  }
  .header__form-mobile-close svg {
    width: 30px;
    height: 30px;
  }
  .header__form-mobile-close {
    top: 7px;
  }
}

@media (max-width: 1300px) {
  .header__bottom {
    display: none;
  }
  /*hero*/
  .hero {
    margin-top: 0;
  }
  .hero__container {
    padding: 0 55px;
  }
  .hero__content {
    width: 75%;
  }
}

@media (max-width: 1300px) {
  .hero__title {
    margin-bottom: 11px;
  }
  .hero__descr {
    margin-bottom: 132px;
  }
  .gallery__container {
    padding-bottom: 45px;
  }
}

@media (max-width: 1120px) {
  .gallery__swiper {
    padding-right: 50px;
  }
}

@media (max-width: 1008px) {
  .hero__content {
    padding-left: 0;
  }
  /* gallery */
  .gallery {
    background-image: url('../img/gallery-bg-768px.png');
  }
  .gallery__container {
    flex-direction: column;
    padding-bottom: 60.5px;
    padding-right: 0;
  }
  .gallery__content-left {
    margin-right: 0;
  }
  .choices:last-child {
    margin-bottom: 40px;
  }
  .gallery__swiper-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1008px) {
  .gallery__swiper {
    width: calc(1150 / 1250 * 100%);
  }
  .gallery__slide::before {
    padding-top: calc(85% - 6px);
  }
  .modal__item-painter {
    width: 668px;
  }
  .modal__img {
    width: calc(301 / 668 * 100%);
  }
  .modal__block {
    width: calc(367 / 668 * 100%);
  }
  .modal__title-name,
  .modal__text {
    max-width: 280px;
  }
}

@media (max-width: 1008px) {
  .modal__list--active {
    top: 1000px;
  }  
  /* catalog */
  .catalog__content {
    flex-direction: column-reverse;
  }
  .catalog__content-left {
    margin-right: 0;
    width: 100%;
  }
  .catalog__content-right {
    margin-bottom: 51px;
    width: 100%;
  }
  .catalog__item-top {
    padding-top: 32.5px;
  }
  .catalog__descr {
    margin-bottom: 19px;
  }
}

@media (max-width: 1008px) {
  .catalog__img-block {
    max-height: 419.5px;
  }
  .catalog__content-img {
    height: 419.5px;
  }
  .catalog__container {
    padding-bottom: 69.5px;
  }
  .catalog__item-top {
    padding-top: 0;
  }
    /* events */
  .events__title {
    margin-bottom: 15px;
  }
  .events__card-top-1 {
    background-image: url('../img/event-1-768px.jpg');
  }
}

@media (max-width: 1008px) {
  .events__card-top-2 {
    background-image: url('../img/event-2-768px.jpg');
  }
  .events__card-top-3 {
    background-image: url('../img/event-3-768px.jpg');
  }
  .events__card-top-4 {
    background-image: url('../img/event-4-768px.jpg');
  }
  .events__card-top-5 {
    background-image: url('../img/event-5-768px.jpg');
  }
  .events__card-bottom {
    padding: 14px 17px 49px 34px;
  }
  .events__card-link {
    line-height: 21px;
  }
}

@media (max-width: 1008px) {
  .projects__swiper-link > img {
    width: 85%;
  }
  .projects__slider {
    width: calc(818 / 924 * 100%);
  }
  .projects__swiper-link {
    padding: 27px 50px;
  }
}

@media (max-width: 1008px) {
  /* contacts */
  .contacts__address-color {
    margin-top: 43px;
  }
  .contacts__form {
    flex-wrap: wrap;
  }
  .contacts__input {
    width: 324px;
  }
  .contacts__input-wrap {
    margin-bottom: 13px;
  }
  .contacts__input-wrap--mr {
    margin-right: 0;
  }
  .contacts__btn {
    padding: 10px 24px;
    max-width: 317px;
  }
}

@media (max-width: 817px) {
  .catalog__bottom-list {
    column-count: 1;
  }
}

@media (max-width: 687px) {
  .section-descr {
    font-size: 14px;
    line-height: 28px;
  }
  .section-title {
    font-size: 28px;
    line-height: 38px;
  }
  .header__form-mobile {
    width: 99%;
    z-index: 120;
  }
  /* gallary */
  .gallery {
    background-image: url('../img/gallery-bg-320px.png');
  }
  .gallery__container {
    padding: 20px 30px 21px 50px;
  }
}

@media (max-width: 687px) {
  .gallery__title {
    margin-bottom: 18px;
  }
  .gallery__text {
    margin-bottom: 13px;
  }
  .choices {
    margin-bottom: 37px;
    width: 200px;
  }
  .choices__list--dropdown, .choices__list[aria-expanded] {
    background-color: var(--color1);
  }
  .gallery__swiper {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .choices__list--dropdown, .choices__list[aria-expanded] {
    width: 290px;
  }
}

@media (max-width: 687px) {
    /* catalog */
  .catalog__content-right {
    margin-bottom: 50px;
  }
  .catalog__descr {
    display: none;
  }
  .catalog__item-title {
    font-size: var(--size18);
  }
  .catalog__item-top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .catalog__item-top-title {
    border-bottom: none;
  }
  .catalog__item-top--border {
    border-bottom: var(--border) var(--color12);
  }
}

@media (max-width: 687px) {
  .ui-accordion-header-active.catalog__item-top:first-child .catalog__item-top-title {
    border-top: none;
  }
  .ui-accordion-header-active.catalog__item-top:first-child .catalog__item-top--border {
    border-bottom: none;
  }
  .catalog__item-button svg {
    width: 100%;
    height: 100%;
  }
  .catalog__item-button {
    width: 30px;
    height: 30px;
  }
  .ui-accordion-Ñontent-active .catalog__item-top--border {
    border-bottom: var(--border) var(--color12);
  }
}

@media (max-width: 687px) {
  .catalog__bottom-list-wrap {
    padding: 21px 0;
    border-bottom: var(--border) var(--color12);
  }
  .catalog__item-place {
    height: 130px;
  }
  .catalog__item-place::before {
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
  }
  .catalog__item-text {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .catalog__img-block {
    margin-bottom: 23px;
    max-height: 181px;
  }
  .catalog__content-img {
    height: 181px;
  }
}

@media (max-width: 687px) {
  .catalog__content-title {
    margin-bottom: 5px;
  }
  /* events */
  .events__container {
    padding-top: 0;
  }
  .events__title {
    margin-bottom: 12.5px;
  }
  .events__card {
    max-width: unset;
  }
  .events__card-top-1 {
    background-image: url('../img/event-1-320px.jpg');
  }
  .events__card-top-2 {
    background-image: url('../img/event-2-320px.jpg');
  }
}

@media (max-width: 687px) {
  .events__card-top-3 {
    background-image: url('../img/event-3-320px.jpg');
  }
  .events__card-top-4 {
    background-image: url('../img/event-4-320px.jpg');
  }
  .events__card-top-5 {
    background-image: url('../img/event-5-320px.jpg');
  }
  .events__card-bottom {
    padding: 17px 16px 47px 22px;
  }
  .events__card-info {
    margin-bottom: 9px;
  }
  .events__swiper-wrapper {
    margin-bottom: 19px;
  }
}

@media (max-width: 687px) {
  /* projets */
  .projects__container {
    padding-top: 0;
  }
  .projects__descr {
    margin-bottom: 17px;
    width: 100%;
    font-size: 16px;
    line-height: 32px;
  }
  .projects__descr-link-addition {
    display: inline;
  }
  .projects__second-title {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .projects__swiper-container {
    margin: 0 47px;
  }
  .projects__slider {
    width: calc(562 / 658 * 100%);
  }

}

@media (max-width: 687px) {
  .projects__swiper-link {
    padding: 16px 24px;
  }
  .projects__swiper-link > img {
    width: 58%;
  }
  /* contacts */
  .contacts__container {
    padding: 0 30px 20px 50px;
    border-top: none;
    border-bottom: none;
  }
  .contacts__address {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 19px;
  }
  .contacts__address-color {
    line-height: 24.5px;
    font-size: var(--size18);
  }
}

@media (max-width: 687px) {
  .contacts__input {
    width: 290px;
    height: 40px;
  }
  .contacts__input-wrap {
    margin-bottom: 20px;
  }
  .contacts__btn-addition {
    display: none;
  }
  .contacts__btn {
    padding: 7px 24px;
    max-width: 128px;
    height: 41px;
    font-size: 12px;
  }
  .contacts__form {
    margin-bottom: 21px;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts__connection-text {
    font-size: 17px;
  }
}

@media (max-width: 687px) {
  .contacts__item {
    width: 50px;
    height: 50px;
  }
  .contacts__item svg{
    width: 100%;
    height: 100%;
  }
  .contacts__item:not(:last-child) {
    margin-right: 20px;
  }
  .contacts__map,
  .ymaps-2-1-79-map {
    height: 320px;
  }
  .contacts__request-form {
    gap: 5px;
    padding: 20px 3px;
    flex-direction: column;
  }
  .contacts__input-mail {
    width: 100%;
  }
  .contacts__btn-request {
    padding: 15px 5px;
  }
}

@media (max-width: 687px) {
  /* footer */
  .footer__container {
    padding: 20px 55px;
  }
  .footer__wrap {
    flex-direction: column-reverse;
  }
  .footer__logo {
    margin-right: 0;
    width: 97px;
    height: 21.67px;
  }
  .footer__list {
    margin-bottom: 20px;
  }
  .footer__item {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 640px) {
  /*header*/
  .header__top {
    padding: 12px 15px;
  }
  .header__top-content {
    padding: 10px 0 10px;
  }
  .header__burger {
    width: 25px;
    height: 18px;
  }
  .header__burger-line {
    height: 2px;
  }
  .header__burger-line:nth-child(1) {
    width: 25px;
  }
  .header__burger-line:nth-child(2) {
    width: 16px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 15px;
  }
  .header__burger-line:nth-child(3) {
    width: 10px;
  }
  .header__burger--active .header__burger-line:nth-child(3) {
    width: 25px;
  }
  .header__nav {
    top: 0;
    padding: 0 0 30px 15px;
    font-size: 16px;
    line-height: 32px;
    left: -14px;
  }
  .header__list {
    padding-top: 50px;
  }
  .header__login {
    padding: 10px 31px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 640px) {
  .header__form-mobile {
    top: 0;
    right: 0;
    padding: 0 63px 0 76px;
    height: 80%;
    background: rgba(0, 0, 0, 0.9);
  }
  .header__form-btn-mobile {
    top: 10px;
    left: 40px;
  }
  .header__form-mobile-close {
    top: 12px;
    right: 15px;
  }
  .header__form-mobile-close svg {
    width: 15px;
    height: 15px;
  }
  .hero__content {
   align-items: center;
  }
  .hero__title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .hero__descr {
    font-weight: var(--weight4);
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    max-width: 90%;
  }
  .hero__link {
    padding: 9px 15px;
    font-size: 12px;
    line-height: 16px;
  }
  /*about*/
  .about {
    padding: 50px 0 41px;
  }
  .about__title {
    margin-bottom: 12px;
  }
  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }
  .gallery__container {
    padding-bottom: 20px;
  }
  .modal__item-painter {
    width: 290px;
    flex-direction: column;
  }
}

@media(max-width: 681px) {
  .projects__slider {
    width: calc(195 / 291 * 100%);
  }
  .projects__swiper-link {
    padding: 20px 14px;
  }
}

@media (max-width: 640px) {
  .modal__img {
    width: 100%;
    min-height: 200px;
  }
  .modal__block {
    width: 100%;
    padding: 20px;
  }
  .modal__text {
    max-width: 280px;
  }
  .modal__title-name {
    max-width: 280px;
  }
  .modal__btn-close {
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .header__logo {
    margin-left: 0;
    width: 100px;
  }
  .header__search-mobile-open svg,
  .header__form-btn-mobile svg {
    width: 20px;
    height: 20px;
  }
  /*hero*/
  .hero {
    padding: 31px 0 45px;
  }
  .hero__content {
    padding-left: 20px;
    margin-left: 0;
    width: 100%;
  }
  .hero__title {
    font-size: 32px;
    line-height: 38px;
  }
  .hero__descr {
    margin-bottom: 43px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 480px) {
  .hero__descr {
    padding-bottom: 20px;
  }
  .hero__btn {
    width: 200px;
  }
  .choices__list--dropdown, .choices__list[aria-expanded] {
    width: 200px;
  }
  .gallery__container {
    padding-bottom: 0;
  }
  .gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 0;
  }
  .gallery__navigation {
    align-self: center;
  }
  .gallery__swiper {
    padding-right: 50px;
  }
}

